.resume {
    line-height: 1.5;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

.name {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    margin: 0;
}

.position {
    font-weight: bold;
}

.table-heading {
    text-transform: uppercase;
    background-color: rgb(219, 215, 215);
    }

.time-period {
    text-align: center;
}

.link {
    color: #00f;
    text-decoration: underline;
}

.link:hover {
    text-decoration: none;
}

.link:visited {
    color: #005;
    text-decoration: underline;
}

.work-experience {
    background-color: #f7f7f7;
    width: 100%;
}

.skills {
    list-style-type: square;
}

.header {
    display: flex;
    justify-content: space-between;
}

.profile-picture {
    border: 1px solid;
    border-color: rgb(37, 37, 112);
    padding: 5px;
    width: 100px;
    height: 100px;
    float: right;
}

.border-look {
    border-bottom: thin solid rgb(219, 215, 215);   
}