// colors
$color-background-side: #86A3B4;
$color-background-main: #fff;
$color-text-scrollbar-main: #263036;
$color-link-last-name: #1C2E8C; 
$color-side-link-hover: #fff;
$color-main-link-hover: #1E1E1E;
$color-link-visited: #005; 
$color-main-heading-border: #000000; 
$color-side-heading-border: #1E1E1E;
$color-side-header-footer: #fff;
$color-side-footer-hover: #1C2E8C;

// font
$font-family-base:'Inter', sans-serif;
