.main-theme {
    /* colors */
    --color-background-side: #86A3B4;
    --color-text-scrollbar-main: #263036;
    --color-link-last-name: #1C2E8C; 
    --color-side-link-hover: #fff;
    --color-main-link-hover: rgb(37, 32, 32);
    --color-link-visited: #005; 
    --color-main-heading-border: #000000; 
    --color-side-heading-border: #1E1E1E;
    --color-side-header-footer: #fff;
    --color-side-footer-hover: #1C2E8C;

    /* font */
    --font-size-side-header: 40px; 
    --font-size-side-footer: 30px; 
    --font-size-main-heading: 36px;
    --font-size-side-heading: 32px;

    --font-family-base:'IBM Plex Sans', sans-serif;
    --font-family-side-header-footer: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --font-style-side-header-footer: italic;

    /* deviation */
    --padding-side-blocks: 30px;
    --padding-side-info: 0 0 10px 0;
    --padding-side-heading: 5px 0;
    --padding-main-heading: 20px 0;
    --padding-main-column: 0 55px;
}