.my-theme {
    /* colors */
    --color-background-side: #03045E;
    --color-background-main: #fefae0;
    --color-text-scrollbar-main: #005F73;
    --color-link: #7209b7; 
    --color-side-link-hover: #EE9B00;
    --color-main-link-hover: #AE2012;
    --color-link-visited: #9B2226; 
    --color-main-heading-border: #023E8A; 
    --color-side-heading-border: #0A9396;
    --color-side-header-footer: #94D2BD;
    --color-side-footer-hover: #EE9B00;

    --font-family-base: Arial, Helvetica, sans-serif;
    --font-family-side-header-footer: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}