:root {
    /* font */
    --font-size-side-header: 40px; 
    --font-size-side-footer: 30px; 
    --font-size-main-heading: 36px;
    --font-size-side-heading: 32px;

    /* deviation */
    --padding-side-blocks: 30px;
    --padding-side-info: 0 0 10px 0;
    --padding-side-heading: 5px 0;
    --padding-main-heading: 20px 0;
    --padding-main-column: 0 55px;
}

.resume {
    display: flex;
    background-color: var(--color-background-main);
    color: var(--color-text-scrollbar-main);
    font-family: var(--font-family-base);
    margin: 0;
}

/* side section */

.side-column {
    background-color: var(--color-background-side);
    flex: 1;
    font-weight: 600;
}

.name {
    color: var(--color-side-header-footer);
    padding: var(--padding-side-blocks);
    font-weight: 600;
    font-size: var(--font-size-side-header);
}

.last-name {
    color: var(--color-link-last-name); 
}

.profile-picture {
    width: 100%;
}

.side-text {
    padding: var(--padding-side-blocks);
}

.side-heading {
    font-size: var(--font-size-side-heading);
    border-bottom: 6px solid var(--color-side-heading-border);
    padding: var(--padding-side-heading);
}

.side-info {
    padding: var(--padding-side-info);
}

footer {
    padding: var(--padding-side-blocks);
}

/* main section */

.main-column {
    flex: 4;
    padding: var(--padding-main-column);
}

.main-heading {
    font-size: var(--font-size-main-heading);
    border-bottom: 5px solid var(--color-main-heading-border);
    padding: var(--padding-main-heading);
}

.summary,
.skills {
    font-weight: bold;
}

.skills-info {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

/* links */

.link {
    color: var(--color-link-last-name);
    text-decoration: underline;
}

.side-link.link {
    text-decoration: none;
}

.side-link.link:hover {
    color: var(--color-side-link-hover);
    text-decoration: none;
}

.hire-me {
    color: var(--color-side-header-footer);
    text-decoration: none;
    font-weight: 600;
    font-size: var(--font-size-side-footer);
}

.hire-me:hover {
    color: var(--color-side-footer-hover);
}

.link:hover {
    text-decoration: none;
    color: var(--color-main-link-hover);
}

.link:visited {
    color: var(--color-link-visited);
    text-decoration: underline;
}

@media screen and (max-width: 550px) {
    .resume {
        display: flex;
        flex-direction: column;
    }

    .main-column {
        padding: 0 30px;
    }

    .name {
        padding: 0 50px;
    }

    .skills-info {
        width: 100%;
    }

    p {
        margin: 0;
    }
    
}
/*
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-text-scrollbar-main);
    border-radius: 10px;
}

.scrollbox {
    overflow: auto;
    visibility: hidden;
}

.scrollbox-inner, .scrollbox:hover {
    visibility: visible;
}
*/